* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.container {
  min-height: 100%;
  flex: 1 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 260px;
  background-color: #fff;
  height: 70px;
}
.logo img {
  width: 50px;
  height: 48px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
ul li {
  font-weight: 200;
  color: #2f2222;
  text-decoration: none;
  font-size: 18px;
  list-style-type: none;
}

ul li:hover,
.ul li:hover {
  color: #5d71dd;
  text-decoration: underline;
}

.phone {
  display: flex;
  gap: 10px;
  color: #5d71dd;
}
.phone img {
  width: 15px;
}

/* main */
.m {
  margin-bottom: 40px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 23px 260px;
  width: 100%;
}

.popular_news_section {
  width: 320px;
  height: 670px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
  height: 100px;
  width: 320px;
  /* background-color: forestgreen; */
}
.text h5 {
  color: #2f222266;
  width: 98px;
  height: 23px;
}
.newsInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.borderLine {
  border: 1px solid #2f22221a;
  width: 100%;
}
.subcribe_news {
  width: 320px;
  height: 270px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.subcribe_news p {
  font-size: 24px;
}
.subcribe_news button,
input {
  padding: 13px 68px;
  border-radius: 20px;
  width: 260px;
}
.subcribe_news button {
  display: flex;
  gap: 10px;
  background-color: #5d71dd;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.dateCart {
  color: #2f222266;
  width: 98px;
  height: 23px;
  font-size: 18px;
}

/* main left-information */

.left-section {
  width: 1040px;
  height: 100%;
}
.info {
  width: 1040px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}
.info_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.text_category_cart {
  font-weight: 400;
  font-size: 16px;
  padding: 8px 16px;
  color: #5d71dd;
  background-color: #f7f8fd;
  border-radius: 8px;
  /* width: 120px; */
}
.header_cart {
  font-size: 24px;
  font-weight: 450;
  color: #2f2222;
  padding-bottom: 20px;
}
.text_cart {
  font-size: 18px;
  font-weight: 400;
  color: #2f22228f;
  width: 880px;
}

/* Две карточки */
.info_cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.info_cart .info {
  width: 680px;
  height: 400px;
}
.info_cart .info .text_cart {
  width: 600px;
}

.cart {
  height: 400px;
  width: 320px;
  background-color: #5d71dd;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.cart .dateCart {
  color: #ffff;
}
.cart .text_category_cart {
  background-color: #7d8de4;
  color: #ffff;
}
.cart .header_cart {
  color: #ffff;
  font-size: 24px;
}

.info_header_cart {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cart_right {
  height: 400px;
  width: 320px;
  background-color: #5d71dd;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-image: url(img/Rectangle\ 3.svg);
  background-size: cover;
}
.cart_right .dateCart {
  color: #ffff;
}
.cart_right .text_category_cart {
  background-color: #7d8de4;
  color: #ffff;
}
.cart_right .header_cart {
  color: #ffff;
  font-size: 24px;
}
.two_info_title {
  display: grid;
  gap: 25px;
}

.up_title,
.down_title {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 680px;
}

.cart_right,
.a {
  height: 400px;
  width: 320px;
  background-color: #5d71dd;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-image: url(img/night.svg);
  background-size: cover;
}

.page_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20pxs;
  padding: 60px;
  /* background-color: red; */
  width: 100%;
}
.numbers {
  font-size: 18px;
  font-weight: 400;
}

/*  */
/*  */
/*  */
/*  */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;

  font-size: 18px;
  font-weight: 400;
}

.page-link:hover {
  background-color: #007bff;
  color: white;
}
/*  */
/*  */

/*  */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d71dd0d;
  height: 273px;
  gap: 40px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}
.nav a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.footer1 {
  font-size: 14px;
}
/* .images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
} */
.responsive-image {
  background-image: url('img/Rectangle\ 11.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media (max-width: 1030px) {
  /* Header начало */
  .responsive-image {
    background-image: url('img/header_img_1024.svg');
    height: 250px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 180px;
    background-color: #fff;
    height: 70px;
  }
  .logo img {
    width: 42px;
    height: 40px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  ul li {
    font-weight: 200;
    color: #2f2222;
    text-decoration: none;
    font-size: 16px;
  }

  /* Header конец */
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 42px;
    width: 100%;
  }
  /* шрифты карточек */
  .header_cart,
  .cart .header_cart {
    font-size: 21px;
  }
  .text_cart {
    font-size: 17px;
  }
  .text_category_cart {
    font-size: 15px;
  }
  /* шрифты карточек */
  .info {
    width: 940px;
  }
  .cart {
    height: 400px;
    width: 300px;
    background-color: #5d71dd;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  /*  */

  .cart_right,
  .a {
    height: 400px;
    width: 300px;
  }
  /*  */

  .up_title,
  .down_title {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 620px;
  }

  .info_cart .info {
    width: 620px;
    height: 400px;
  }
  .info_cart .info .text_cart {
    width: 540px;
  }
  .info_cart {
    width: 940px;
  }
  /* Правая часть новостная колонка */
  .right-section {
    width: 940px;
  }
  .popular_news_section {
    width: 100%;
    height: 670px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .news-popular {
    display: flex;
    gap: 10px;
  }
  .text {
    width: 300px;
  }
  .borderLine {
    border: hidden;
    width: 0;
  }
  .newsInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .subcribe_news {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 150px;
  }
  /* Правая часть новостная колонка */

  footer {
    height: 295px;
  }
  /* .page_navigation {
    background-color: crimson;
  } */
  .button_input {
    display: flex;
    gap: 15px;
  }
  .button_input input {
    width: 380px;
  }
}

@media (max-width: 320px) {
  header ul {
    display: none;
  }
  header {
    width: 320px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dateCart {
    font-size: 12px;
  }
  .text_category_cart {
    font-size: 10px;
  }
  .text_cart {
    width: 260px;
    font-size: 15px;
  }
  .left-section,
  .right-section {
    padding: 0px;
  }
  /* cart1 */
  .info {
    width: 280px;
    height: 350px;
    padding: 15px;
  }

  /*  */
  .info_cart .info .text_cart {
    width: 260px;
  }
  main {
    padding: 0;
    padding: 15px 10px;
  }
  .up_title,
  .down_title {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 290px;
  }
  .info_cart {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  .info_cart .info {
    width: 280px;
    height: 350px;
  }
  .cart_right {
    width: 280px;
    height: 350px;
  }
  .cart {
    height: 350px;
    width: 280px;
  }
  .news-popular {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .responsive-image {
    background-image: url('img/header_img_320.svg');
    height: 150px;
    width: 100%;
  }
  .page_navigation {
    display: none;
  }
  /*блок подписки */
  .subcribe_news {
    width: 320px;
    height: 270px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
  }
  .button_input {
    display: flex;
    flex-wrap: wrap;
  }
  .button_input input {
    width: 260px;
  }
  /* .subcribe_news p {
    font-size: 24px;
  }
  .subcribe_news button,
  input {
    padding: 13px 68px;
    border-radius: 20px;
    width: 260px;
  }
  .subcribe_news button {
    display: flex;
    gap: 10px;
    background-color: #5d71dd;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  } */
  .nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #5d71dd0d;
    height: 273px;
    gap: 40px;
  }
}
